{% if persistent_home %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ base_name }}-{{ item.count }}
  namespace: "{{ namespace }}"
  labels:
    name: {{ base_name }}
    count: "{{ item.count }}"
    component: kiosk-operand
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ persistent_home_size }}
{% endif %}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: "{{ namespace }}"
  name: {{ base_name }}-{{ item.count }}
  labels:
    name: {{ base_name }}
    count: "{{ item.count }}"
    component: kiosk-operand
spec:
  selector:
    matchLabels:
      component: kiosk-operand
      name: {{ base_name }}
      count: "{{ item.count }}"
  replicas: 1
  template:
    metadata:
      labels:
        component: kiosk-operand
        name: {{ base_name }}
        count: "{{ item.count }}"
      annotations:
    spec:
      restartPolicy: Always
      containers:
        - name: desktop
          image: {{ registry }}/{{ project }}/kiosk-operator-{{ distribution }}-{{ distribution_release }}:{{ distribution_tag }}
          imagePullPolicy: "{{ image_pull_policy }}"
{% if persistent_home %}
          volumeMounts:
            - name: kiosk
              mountPath: /home
{% endif %}
          env:
{% if additional_playbook_url != '' %}
          - name: ADDITIONAL_PLAYBOOK_URL
            value: "{{ additional_playbook_url }}"
{% endif %}
          - name: DE
            value: "{{ desktop }}"
          - name: DESHELL
            value: "{{ shell }}"
          - name: DEUSER
            value: "{{ item.user }}"
          - name: RESOLUTION
            value: "{{ resolution }}"
          - name: VNCPASS
            value: "{{ item.passwd }}"
          ports:
          - containerPort: 5901
            protocol: TCP
        - name: client
          image: {{ registry }}/{{ project }}/{{ kiosk_client }}:{{ kiosk_client_tag }}
          imagePullPolicy: "{{ image_pull_policy }}"
          env:
          ports:
          - containerPort: 6080
            protocol: TCP
{% if persistent_home %}
      volumes:
        - name: kiosk
          persistentVolumeClaim:
            claimName: {{ base_name }}-{{ item.count }}
{% endif %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ base_name }}-{{ item.count }}
  namespace: "{{ namespace }}"
  labels:
    name: {{ base_name }}
    count: "{{ item.count }}"
    component: kiosk-operand
spec:
  ports:
    - name: port-6080
      port: 6080
      targetPort: 6080
      protocol: TCP
  selector:
    component: kiosk-operand
    name: {{ base_name }}
    count: "{{ item.count }}"
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ base_name }}-{{ item.count }}
  namespace: "{{ namespace }}"
  labels:
    name: {{ base_name }}
    count: "{{ item.count }}"
    component: kiosk-operand
spec:
  to:
    kind: Service
    name: {{ base_name }}-{{ item.count }}
  port:
    targetPort: port-6080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
